.task {
    min-height: 200px;
    margin: 2vh 1vw 2vh 1vw;
    mat-card-header {
        min-height: 25px;
        border-bottom: 1px solid rgb(170, 165, 165);
    }
    mat-card-content {
        min-height: 150px;
        border-bottom: 1px solid rgb(170, 165, 165);
        padding: 10px 10px 10px 10px;
        margin-bottom: 0 !important;
    }
    mat-card-footer {
        padding: 10px 10px 10px 16px;
        min-height: 25px;
        p {
            font-size: 0.75vw;
            color: rgb(170, 165, 165);
        }
    }
}
.task:hover {
    box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.28) !important;
}
